.container, .container1{
    border: 2px solid;
}
.heading, .head{
    border: 2px solid;
    margin: 20px;
    padding: 10px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}
.heading1{
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    border: 2px solid;
    font-weight: bold;
    
}
li{
    border: 1px solid;
    width: 500px;
    margin: 10px auto;
    list-style: none;
    padding: 5px;
    
}

.center1, .center2{
    text-align: center;
}
span{
    color: red;
}