ul{
    border: 2px solid;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
}
li{
    border: 2px solid;
    margin: 5px;
    padding: 5px;
    list-style: none;
}
.rContainer{
    display: none;
}
.error{
    color: red;
    font-size: 11px;
    display: none;
}