<div class="loginContainer">
    <h1>Sign-up to New</h1>
    <h1>account!</h1>
    <div>
        <label class="label">Email ID/Phone number</label>
        <div>
            <input type="text" placeholder="Enter Email ID/Phone number" class="box">
        </div>
    </div>
    <div>
        <label class="label">Password</label>
        <div>
            <input type="password" placeholder="Enter password" class="box">
        </div>                      
    </div>
    <div>
        <label class="label">Re-enter your password</label>
        <div>
            <input type="password" placeholder="Re-enter your password" class="box">
        </div>                      
    </div>
    <input type="submit" class="btn" value="Signup">

</div>