<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        color: blue;
    }
    p{
        color: lightgreen;
        border: 2px solid red;
    }
</style>
<body>
    
    <h1>Welcome to my page</h1>

    <ul>
        <li>Apple</li>
        <li>Mango</li>
        <li>Grapes</li>
        <li>Bananna</li>
        <li>PineApple</li>
    </ul>
    <p>Develop Reading Skills — In this course, students will practice reading, listening, writing & speaking in Romanian. This language course aims to support kids in developing communication skills in Romanian. Language Classes. Develop Writing Skills. Learn Romanian Language.</p>

</body>
</html>