h3{
    border: 2px solid;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.displayBlock,
.readDetailsBlock{
    border: 2px solid;
    width: 500px;
    margin: 10px auto;
    padding: 0px;
    background-color: #ccc;
}
.displayBlock li,
.readDetailsBlock li{
    list-style: none;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}
.marksBlock input{
    width: 50px;
}
.displayBlock{
    display: none;
}
.label, .controller{
    display: inline-block;
}
.label{
    width: 100px;
}
